@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");



body {
  font-family: "Quicksand", sans-serif;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  width: 100%;
  
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 1rem;
  top: 4px;
  padding: 30px;
 position: relative;


 
}

img {
  max-width: 100%;
 
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  position: relative;
  margin: 10px;
  
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: 2.75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


/* Slider */

.contentt{	
  box-shadow: 2px 2px 4px black;
 overflow: hidden;
 height: 520px;
 width: 935px;
 border-radius: 20px;
 transform: translate(-60%, -50%);
 position: absolute;
 top: 45%;
 left:50%
 
  }
  .content .slide img{
 
   height: 100%;
   width: 100%;
 
  } 
 
 
  .navigation{
   display: flex;
   transform: translate(-60%, -50%);
   position: absolute;
   top: 95%;
   left:46%
 
 
  }
 .bar{
 
  width: 15px;
 height: 15px;
 border: 2px solid white;
 margin: 10px;
 border-radius: 15px;
 cursor: pointer;
 
 } 
 
   .bar:hover {
  background-color: rgb(0, 0, 0);
 
 
   }
 .menuu{
background-color: #333;


 }
 .input{
 display: none;
 
 }
 
 .slides {
 
 display: flex;
 width: 500%;
 height: 100%;
 
 
 
 }
 
 
 .slide {
 
 
   width: 20%;
   transition: all .5s ease-in-out 0.1s;
 }
 
 #slide1:checked ~ .s1 {
  margin-left: 0;
 
 }
 #slide2:checked ~ .s1 {
 
   margin-left: -20%;
 }
 #slide3:checked ~ .s1 {
 
   margin-left: -40%;
 }
 #slide4:checked ~ .s1 {
 
   margin-left: -60%;
 }
 #slide5:checked ~ .s1 {
 
   margin-left: -80%;
 }
   /* Slider */








  


  



 
 
  




  /* FACIL */
  .textoD{
   text-align: center;
   margin-bottom: 80px;
   font-size: 20px;
   font-family: "Quicksand", sans-serif;
   margin: 30px;
  }




.textC{
    text-align: center;
padding: 0px;
 margin-top: 10px;



  }

  .textF {
    text-align: center;
    padding: 0px;
    margin-bottom: 40px;
    align-items: center;
  
  }


  .texto {

 font-family: "Quicksand", sans-serif;
 font-size: 20px;
 text-align:center;
 margin-top: 16px;
 

  }

  .FACIL{
 text-align: center;


 font-size: bold;


 color: black;
 margin: 10px;

  }
.facil{
font-family: 'Lobster', cursive;
font-size: 40px;
border-radius: 80px;
margin: 80px;
align-items: center;
text-align: center;
position: relative;

}




/*CLARO APP*/


.titu{
text-align: center;



}



/* Slider */

.content{	
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;

  position: absolute;
  

  }
  .content .slide img{
 
   height: 350px;
   width: 100%;
 
  } 
 
  #overflow{
 
   width: 100%;
   overflow: hidden;
 
 
 
  }
  .navigation{
   display: flex;
   transform: translate(-60%, -50%);
   position: absolute;
   top: 95%;
   left:46%
 
 
  }
 .bar{
 
  width: 15px;
 height: 15px;
 border: 2px solid white;
 margin: 10px;
 border-radius: 15px;
 cursor: pointer;
 
 } 
 
   .bar:hover {
  background-color: rgb(0, 0, 0);
 
 
   }
 
 .input{
 display: none;
 
 }
 
 .slides {
 
 display: flex;
 width: 600%;
 height: 100%;
 
 
 
 }
 
 
 .slide {
 
 
   width: 100%;
   transition: all .5s ease-in-out 0.1s;
 }
 
 #slide1:checked ~ .s1 {
  margin-left: 0;
 

 }
 #slide2:checked ~ .s1 {
 
   margin-left: -100%;
 
 }
 #slide3:checked ~ .s1 {
 
   margin-left: -200%;

 }
 #slide4:checked ~ .s1 {
 
   margin-left: -300%;
 }
 #slide5:checked ~ .s1 {
 
   margin-left: -400%;
 }
 #slide6:checked ~ .s1 {
 
   margin-left: -500%;
 }
 #slide7:checked ~ .s1 {
 
   margin-left: -600%;
 }
   /* Slider */


















.geral{

position: relative;
top: 90%;






}
  .FACIL1 {

   width: 100%;
   height: 300px;
   right: 50px;
    margin-top: 5px;
    background-color: #ffffff;



  }

  .FACIL3{

    margin-bottom: 20px;
    margin:40px;

 

  }

  /* beneficios */

  .beneficios{
    margin-bottom: -20px;
    margin-top: 80px;
  }

.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;

   
}

.container .cardr{
    position: relative;
    cursor: pointer;
    
}

.container .cardr .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .cardr .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 50px;
  
}

.container .cardr:hover .face.face1{
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
    transform: translateY(0);
}

.container .cardr .face.face1 .content1{
 
    opacity: 10;
    transition: 0.5s;
}

.container .cardr:hover .face.face1 .content1{
    opacity: 1;
}

.container .cardr .face.face1 .content1 img{
    max-width: 130px;
}

.container .cardr .face.face1 .content1 h3{
    margin: 4px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    
}

.container .cardr .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 60px;
    
}

.container .cardr:hover .face.face2{
    transform: translateY(0);
}

.container .cardr .face.face2 .content1 p{
    margin: 0;
    padding: 0;
}

.container .cardr .face.face2 .content1 a{
    margin: 9px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .cardr .face.face2 .content1 a:hover{
    background: #333;
    color: #fff;
}

.bene{

background-color: #fff;


}

.textD {

text-align: center;
align-items: center;
margin-top: 39px;
position: relative;

}


/* aplicativos */
.aplicativos{

margin: 8px;
position: relative;


display: flex; /* coloca as imagens uma ao lado da outra */

text-align: center;
align-items: center;


}


.aplicativ {
height: 130px;
width:130px;
display: flex; /* coloca as imagens uma ao lado da outra */
  position: relative;
  text-align: center; 

align-items: center;
  transform: translate(-50%, -50%);
 
  top: 50%;
  left:30%

}


.aplicati{

  margin-top:8%;
margin: 10px;
 position: relative;


}






.textP{
font-size: 10px;
text-align: center;
margin-top:10px;
position: relative;
color: #cb2d3e;
font-family: "Quicksand", sans-serif;

}

.textCA{

  font-family: "Quicksand", sans-serif;
text-align: center;
position: relative;

  
}